<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>edit your chat:  <%= chat.id%></p>
    <p>this is sent from <%=chat.from%> to <%=chat.to%><br/></p>

    <form method="POST" action="/chats/<%=chat.id%>?_method=PUT">
        <textarea name="msg"><%= chat.msg%></textarea>
        <br/>
        <button>Edit</button>
    </form>
   
</body>
</html>